.containerPrincipal {
  position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid #0a380c;
    padding: 40px;
    background-color: white;
}

.containerLogin{
  text-align: center;
}

.wed {
  color: #0a380c;
  font-weight: normal;
  text-align: center;
}